name: anyVM-OSes

on: [push, pull_request]

jobs:
  omni-os:
    runs-on: ubuntu-latest
    name: OmniOS
    steps:
    - uses: actions/checkout@v4
    - name: OmniOS
      uses: vmactions/omnios-vm@v1
      with:
        prepare: |
          pkg install cmake gcc14 make bzip2

        run: |
          cmake . -B build -DZLIB_BUILD_MINIZIP=ON -DMINIZIP_ENABLE_BZIP2=ON &&\
          cmake --build build/ &&\
          ctest --test-dir build

  openindiana:
    runs-on: ubuntu-latest
    name: OpenIndiana
    steps:
    - uses: actions/checkout@v4
    - name: OpenIndiana
      uses: vmactions/openindiana-vm@v0
      with:
        prepare: |
          pkg install cmake gcc-14 make bzip2

        run: |
          cmake . -B build -DZLIB_BUILD_MINIZIP=ON -DMINIZIP_ENABLE_BZIP2=ON &&\
          cmake --build build/ &&\
          ctest --test-dir build

  netbsd:
    runs-on: ubuntu-latest
    name: NetBSD
    steps:
    - uses: actions/checkout@v4
    - name: NetBSD
      uses: vmactions/netbsd-vm@v1
      with:
        prepare: |
          export PATH="/usr/pkg/sbin:/usr/pkg/bin:$PATH" &&\
          export PKG_PATH="https://cdn.NetBSD.org/pub/pkgsrc/packages" &&\
          export PKG_PATH="$PKG_PATH/$(uname -s)/$(uname -m)/$(uname -r|cut -f '1 2' -d.)/All" &&\
          /usr/sbin/pkg_add cmake &&\
          /usr/sbin/pkg_add gcc14 &&\
          /usr/sbin/pkg_add bzip2

        run: |
          cmake . -B build -DZLIB_BUILD_MINIZIP=ON -DMINIZIP_ENABLE_BZIP2=ON &&\
          cmake --build build/ &&\
          ctest --test-dir build

  openbsd:
    runs-on: ubuntu-latest
    name: OpenBSD
    steps:
    - uses: actions/checkout@v4
    - name: OpenBSD
      uses: vmactions/openbsd-vm@v1
      with:
        prepare: |
          export PATH="/usr/pkg/sbin:/usr/pkg/bin:$PATH" &&\
          export PKG_PATH="https://cdn.openbsd.org/pub/OpenBSD/$(uname -r|cut -f '1 2' -d.)/packages/amd64/" &&\
          /usr/sbin/pkg_add cmake &&\
          /usr/sbin/pkg_add gcc14 &&\
          /usr/sbin/pkg_add bzip2

        run: |
          cmake . -B build -DZLIB_BUILD_MINIZIP=ON -DMINIZIP_ENABLE_BZIP2=ON &&\
          cmake --build build/ &&\
          ctest --test-dir build
