name: anyVM-OSes

on: [push, pull_request]

jobs:

  dragonflybsd:
    runs-on: ubuntu-latest
    name: DragonflyBSD
    steps:
    - uses: actions/checkout@v4
    - name: DragonflyBSD
      uses: vmactions/dragonflybsd-vm@v1
      with:
        copyback: false
        prepare: |
          pkg install -y cmake gcc14 bzip2

        run: |
          cmake . -B build -DZLIB_BUILD_MINIZIP=ON -DMINIZIP_ENABLE_BZIP2=ON
          cmake --build build/ &&\
          ctest --test-dir build

  freebsd:
    runs-on: ubuntu-latest
    name: FreeBSD
    steps:
    - uses: actions/checkout@v4
    - name: FreeBSD
      uses: vmactions/freebsd-vm@v1
      with:
        copyback: false
        prepare: |
          pkg install -y cmake gcc14 bzip2

        run: |
          cmake . -B build -DZLIB_BUILD_MINIZIP=ON -DMINIZIP_ENABLE_BZIP2=ON
          cmake --build build/
          ctest --test-dir build

  netbsd:
    runs-on: ubuntu-latest
    name: NetBSD
    steps:
    - uses: actions/checkout@v4
    - name: NetBSD
      uses: vmactions/netbsd-vm@v1
      with:
        copyback: false
        prepare: |
          export PATH="/usr/pkg/sbin:/usr/pkg/bin:$PATH"
          export PKG_PATH="https://cdn.NetBSD.org/pub/pkgsrc/packages"
          export PKG_PATH="$PKG_PATH/$(uname -s)/$(uname -m)/$(uname -r|cut -f '1 2' -d.)/All"
          /usr/sbin/pkg_add cmake
          /usr/sbin/pkg_add bzip2

        run: |
          cmake . -B build -DZLIB_BUILD_MINIZIP=ON -DMINIZIP_ENABLE_BZIP2=ON
          cmake --build build/
          ctest --test-dir build


  omni-os:
    runs-on: ubuntu-latest
    name: OmniOS
    steps:
    - uses: actions/checkout@v4
    - name: OmniOS
      uses: vmactions/omnios-vm@v1
      with:
        copyback: false
        prepare: |
          pkg install cmake gcc14 make bzip2

        run: |
          cmake . -B build -DZLIB_BUILD_MINIZIP=ON -DMINIZIP_ENABLE_BZIP2=ON
          cmake --build build/
          ctest --test-dir build

  openbsd:
    runs-on: ubuntu-latest
    name: OpenBSD
    steps:
    - uses: actions/checkout@v4
    - name: OpenBSD
      uses: vmactions/openbsd-vm@v1
      with:
        copyback: false
        prepare: |
          export PATH="/usr/pkg/sbin:/usr/pkg/bin:$PATH"
          export PKG_PATH="https://cdn.openbsd.org/pub/OpenBSD/$(uname -r|cut -f '1 2' -d.)/packages/amd64/"
          /usr/sbin/pkg_add cmake
          /usr/sbin/pkg_add bzip2

        run: |
          cmake . -B build -DZLIB_BUILD_MINIZIP=ON -DMINIZIP_ENABLE_BZIP2=ON
          cmake --build build/
          ctest --test-dir build

  openindiana:
    runs-on: ubuntu-latest
    name: OpenIndiana
    steps:
    - uses: actions/checkout@v4
    - name: OpenIndiana
      uses: vmactions/openindiana-vm@v0
      with:
        copyback: false
        prepare: |
          pkg install cmake gcc-14 make bzip2

        run: |
          cmake . -B build -DZLIB_BUILD_MINIZIP=ON -DMINIZIP_ENABLE_BZIP2=ON
          cmake --build build/
          ctest --test-dir build

  solaris:
    runs-on: ubuntu-latest
    name: Solaris
    steps:
    - uses: actions/checkout@v4
    - name: DragonflyBSD
      uses: vmactions/solaris-vm@v1
      with:
        copyback: false
        release: "11.4-gcc"
        prepare: |
          pkgutil -y -i cmake bzip2

        run: |
          cmake . -B build -DZLIB_BUILD_MINIZIP=ON -DMINIZIP_ENABLE_BZIP2=ON
          cmake --build build/
          ctest --test-dir build
